.section {
  padding: 20px;
  background-color: var(--color-background);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.toggleText {
  cursor: pointer;
  color: var(--color-primary);
}

.cardsWrapper {
  margin-top: 18px;
}

.filterWrapper {
  margin-top: 15px;
}